In [1]:

import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_excel('E:/Srini/Flight_Ticket_Participant_Datasets/Data_Train.xlsx')
test_df = pd.read_excel('E:/Srini/Flight_Ticket_Participant_Datasets/Data_Test.xlsx')
df_test = test_df.copy()

In [3]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Day,Month,Year,Dep_Hr,Dep_Min,Arr_Hr,Arr_Min,Duration_Hr,Duration_Min
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10,2:50,0,No Info,3897,24,3,2019,22,20,1,10,2,50.0
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7:25,2,No Info,7662,1,5,2019,5,50,13,15,7,25.0
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25,19h,2,No Info,13882,9,6,2019,9,25,4,25,19h,NaN
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5:25,1,No Info,6218,12,5,2019,18,5,23,30,5,25.0
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4:45,1,No Info,13302,1,3,2019,16,50,21,35,4,45.0

In [4]:
df.shape

(10682, 20)

In [5]:
test_df.shape

(2671, 10)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10682 entries, 0 to 10681
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10682 non-null  object
 1   Date_of_Journey  10682 non-null  object
 2   Source           10682 non-null  object
 3   Destination      10682 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10682 non-null  object
 6   Arrival_Time     10682 non-null  object
 7   Duration         10682 non-null  object
 8   Total_Stops      10682 non-null  int64
 9   Additional_Info  10682 non-null  object
 10  Price            10682 non-null  int64
 11  Day              10682 non-null  int64
 12  Month            10682 non-null  int64
 13  Year             10682 non-null  int64
 14  Dep_Hr           10682 non-null  int64
 15  Dep_Min          10682 non-null  int64
 16  Arr_Hr           10682 non-null  int64
 17  Arr_Min          10682 non-null  int64
 18  Duration_Hr      10682 non-null  object
 19  Duration_Min     9650 non-null   float64
dtypes: float64(1), int64(9), object(10)
memory usage: 1.6+ MB

In [7]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2671 entries, 0 to 2670
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          2671 non-null   object
 1   Date_of_Journey  2671 non-null   object
 2   Source           2671 non-null   object
 3   Destination      2671 non-null   object
 4   Route            2671 non-null   object
 5   Dep_Time         2671 non-null   object
 6   Arrival_Time     2671 non-null   object
 7   Duration         2671 non-null   object
 8   Total_Stops      2671 non-null   object
 9   Additional_Info  2671 non-null   object
dtypes: object(10)
memory usage: 208.8+ KB

In [8]:
test_df.describe()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
count,2671,2671,2671,2671,2671,2671,2671,2671,2671,2671
unique,11,44,5,6,100,199,704,320,5,6
top,Jet Airways,9/05/2019,Delhi,Cochin,DEL → BOM → COK,10:00,19:00,2h 50m,1 stop,No info
freq,897,144,1145,1145,624,62,113,122,1431,2148

In [9]:
df.describe()

,Total_Stops,Price,Day,Month,Year,Dep_Hr,Dep_Min,Arr_Hr,Arr_Min,Duration_Min
count,10682.000000,10682.000000,10682.000000,10682.000000,10682.0,10682.000000,10682.000000,10682.000000,10682.000000,9650.00000
mean,0.824190,9087.214567,13.509081,4.708575,2019.0,12.491013,24.409287,13.349186,24.690601,31.35544
std,0.675229,4611.548810,8.479363,1.164408,0.0,5.748820,18.767801,6.859317,16.506808,14.93004
min,0.000000,1759.000000,1.000000,3.000000,2019.0,0.000000,0.000000,0.000000,0.000000,5.00000
25%,0.000000,5277.000000,6.000000,3.000000,2019.0,8.000000,5.000000,8.000000,10.000000,20.00000
50%,1.000000,8372.000000,12.000000,5.000000,2019.0,11.000000,25.000000,14.000000,25.000000,30.00000
75%,1.000000,12373.000000,21.000000,6.000000,2019.0,18.000000,40.000000,19.000000,35.000000,45.00000
max,4.000000,79512.000000,27.000000,6.000000,2019.0,23.000000,55.000000,23.000000,55.000000,55.00000

In [10]:
df.isnull().sum()

Airline               0
Date_of_Journey       0
Source                0
Destination           0
Route                 0
Dep_Time              0
Arrival_Time          0
Duration              0
Total_Stops           0
Additional_Info       0
Price                 0
Day                   0
Month                 0
Year                  0
Dep_Hr                0
Dep_Min               0
Arr_Hr                0
Arr_Min               0
Duration_Hr           0
Duration_Min       1032
dtype: int64

In [11]:
df1 = df.dropna()
df1.shape

(9650, 20)

In [12]:
df1['Day'],df1['Month'],df1['Year'] = df1['Date_of_Journey'].str.split('/',3).str

In [13]:
df1['Dep_Hr'],df1['Dep_Min'] = df1['Dep_Time'].str.split(':',2).str

In [14]:
df1['Arrival_Time'].unique()

array(['01:10', '13:15', '23:30', '21:35', '11:25', '10:25', '05:05',
       '19:15', '23:00', '22:55', '13:55', '09:20', '19:50', '12:35',
       '19:20', '13:20', '06:50', '21:50', '08:15', '03:35', '12:55',
       '23:15', '21:00', '20:20', '16:45', '19:00', '18:10', '15:15',
       '08:35', '11:05', '14:15', '10:55', '02:45', '12:00', '23:55',
       '01:30', '09:25', '15:25', '15:35', '08:30', '14:30', '07:55',
       '10:35', '22:35', '04:40', '07:25', '04:25', '20:45', '22:30',
       '23:20', '07:40', '08:55', '18:50', '09:05', '01:35', '09:40',
       '16:25', '10:05', '11:10', '17:05', '17:50', '23:10', '08:45',
       '07:45', '16:10', '00:55', '23:35', '20:00', '00:40', '21:45',
       '18:15', '14:25', '03:25', '04:15', '21:10', '21:05', '09:45',
       '18:05', '22:00', '15:30', '08:50', '08:00', '19:35', '11:20',
       '10:15', '12:45', '02:20', '07:15', '11:50', '18:30', '19:45',
       '21:20', '20:05', '09:10', '22:20', '01:00', '23:50', '12:20',
       '20:25', '22:45', '21:25', '14:05', '00:05', '16:20', '07:05',
       '19:10', '12:05', '04:05', '19:40', '17:55', '17:25', '00:30',
       '23:40', '23:05', '00:50', '13:45', '09:15', '20:35', '09:35',
       '14:20', '04:45', '10:30', '19:25', '22:50', '05:35', '09:00',
       '22:40', '14:45', '13:25', '21:55', '10:45', '10:40', '13:00',
       '22:10', '18:35', '05:25', '22:15', '12:10', '14:00', '02:15',
       '19:55', '12:50', '17:15', '07:35', '23:45', '22:25', '12:25',
       '06:35', '01:20', '18:45', '09:30', '04:20', '10:50', '22:05',
       '12:15', '13:30', '13:35', '10:10', '17:35', '08:20', '18:25',
       '00:15', '15:50', '11:30', '23:25', '14:10', '00:25', '03:15',
       '15:55', '00:45', '04:35', '18:00', '12:30', '02:10', '07:10',
       '00:20', '21:40', '08:40', '16:55', '20:30', '17:20', '20:15',
       '14:50', '13:40', '16:50', '15:05', '17:45', '18:40', '03:10',
       '16:40', '09:50', '14:35', '13:05', '17:40', '20:40', '20:50',
       '00:10', '08:10', '16:15', '16:05', '16:35', '18:20', '04:00',
       '21:15', '14:40', '01:45', '16:30', '11:55', '15:20', '20:10',
       '15:00', '15:45', '12:40', '15:10', '13:10', '11:15', '03:40',
       '10:00', '16:00', '11:35'], dtype=object)

In [15]:
df1['Arrival_Time'],_ = df['Arrival_Time'].str.split(' ',1).str

ValueError: not enough values to unpack (expected 2, got 1)

In [ ]:

df1['Arr_Hr'],df1['Arr_Min'] = df1['Arrival_Time'].str.split(':',2).str

In [ ]:
df1['Duration'] = df1['Duration'].str.replace('h ',':').str.replace('m','')

In [ ]:

df1['Duration_Hr'],df1['Duration_Min'] = df1['Duration'].str.split(':',2).str

In [ ]:
df1['Total_Stops'].unique()

In [ ]:

df1['Total_Stops'],_ = df1['Total_Stops'].str.split(' stops').str
df1['Total_Stops'],_ = df1['Total_Stops'].str.split(' stop').str

In [ ]:
df1['Total_Stops'] = df1['Total_Stops'].apply(lambda x: 0 if 'non-stop' in x else x)

In [ ]:
df1['Additional_Info'].unique()

In [ ]:
df1['Additional_Info'] = df1['Additional_Info'].str.replace('No info','No Info')

In [ ]:
df1['Price'].describe()

In [ ]:
df1.to_excel('E:/Srini/Flight_Ticket_Participant_Datasets/Data_Train.xlsx', index=False)

In [ ]:
df1.shape

In [ ]:
df1.head()

In [ ]:
df1.info()

In [ ]:
df1.describe()

In [ ]:
plt.figure(figsize=(12,6))
df.corr()['Price'].sort_values().plot(kind='bar');

In [ ]:
plt.figure(figsize=(12,6))
sns.countplot(df['Airline'], palette='Set3')
plt.title('Count of Airlines', size=30)
plt.xticks(rotation=90)
plt.show()

In [ ]:
plt.figure(figsize=(12,6))
sns.boxenplot(df['Airline'], df['Price'], palette='Set3')
plt.title('Airlines vs Price', size=30)
plt.xticks(rotation=90)
plt.show()

In [ ]:
plt.figure(figsize=(12,6))
sns.countplot(df['Source'], palette='Set2')
plt.title('Count of Source', size=30)
plt.xticks(rotation=90)
plt.show()

In [ ]:
plt.figure(figsize=(12,6))
sns.boxenplot(df['Source'], df['Price'], palette='Set3')
plt.title('Airlines vs Source', size=30)
plt.xticks(rotation=90)
plt.show()

In [ ]:
plt.figure(figsize=(12,6))
sns.countplot(df1['Day'], palette='Set2')
plt.title('Count of Days', size=30)
plt.xticks(rotation=90)
plt.show()

In [ ]:
plt.figure(figsize=(12,6))
sns.barplot(df1['Day'], df1['Price'], palette='Set2')
plt.title('Days vs Price', size=30)
plt.xticks(rotation=90)
plt.show()

In [ ]:
df1['Month'] = df1['Month'].map({
    1:'JAN',
    2:'FEB',
    3:'MAR',
    4:'APR',
    5:'MAY',
    6:'JUN',
    7:'JUL',
    8:'AUG',
    9:'SEP',
    10:'OCT',
    11:'NOV',
    12:'DEC'
})

In [ ]:
plt.figure(figsize=(12,6))
sns.barplot(df1['Month'], df1['Price'], palette='Set2')
plt.title('Month vs Price', size=30)
plt.xticks(rotation=90)
plt.show()

In [ ]:
plt.figure(figsize=(12,6))
sns.barplot(df['Total_Stops'], df['Price'], palette='Set2')
plt.title('Stops vs Price', size=30)
plt.xticks(rotation=90)
plt.show()

In [ ]:
plt.figure(figsize=(12,6))
sns.barplot(df['Additional_Info'], df['Price'], palette='Set2')
plt.title('Additional Info vs Price', size=30)
plt.xticks(rotation=90)
plt.show()

In [ ]:
df = df.dropna()

In [28]:
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score, RandomizedSearchCV
from sklearn.linear_model import LinearRegression, ElasticNet, Lasso, Ridge, HuberRegressor, LogisticRegression, BayesianRidge
from sklearn.tree import DecisionTreeRegressor, ExtraTreeRegressor
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor, GradientBoostingRegressor, VotingRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.metrics import mean_absolute_error, mean_squared_error
from xgboost import XGBRegressor

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)

ModuleNotFoundError: No module named 'xgboost'

In [29]:
dummies = pd.get_dummies(df1[['Airline', 'Source', 'Destination']])

In [30]:
df2 = pd.concat([df1,dummies], axis=1)
df2.shape

(9650, 43)

In [31]:
df2 = df2.drop(['Airline', 'Source', 'Destination'], axis=1)
df2.shape

(9650, 40)

In [32]:
df2['Additional_Info'].unique()

array(['No Info', 'In-flight meal not included',
       'No check-in baggage included', '1 Short layover',
       '1 Long layover', 'Change airports', 'Business class',
       'Red-eye flight', '2 Long layover'], dtype=object)

In [33]:
X = df2.drop('Price', axis=1)
y = df2['Price']

In [34]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((6755, 39), (2895, 39), (6755,), (2895,))

In [35]:
models = [['LinearRegression : ', LinearRegression()],
          ['ElasticNet :', ElasticNet()],
          ['Lasso : ', Lasso()],
          ['Ridge : ', Ridge()],
          ['KNeighborsRegressor : ', KNeighborsRegressor()],
          ['DecisionTreeRegressor : ', DecisionTreeRegressor()],
          ['RandomForestRegressor : ', RandomForestRegressor()],
          ['SVR : ', SVR()],
          ['AdaBoostRegressor : ', AdaBoostRegressor()],
          ['GradientBoostingRegressor : ', GradientBoostingRegressor()],
          ['ExtraTreeRegressor : ', ExtraTreeRegressor()],
          ['HuberRegressor : ', HuberRegressor()],
          ['XGBRegressor : ', XGBRegressor()],
          ['BayesianRidge : ', BayesianRidge()]]

NameError: name 'XGBRegressor' is not defined

In [36]:

for name, model in models:
    model=model
    model.fit(X_train, y_train)
    predictions = model.predict(X_test)
    print(name, (np.sqrt(mean_squared_error(y_test, predictions))))

NameError: name 'models' is not defined

In [37]:
algorithms = {
    'XGBRegressor' : {
        'model' : XGBRegressor(),
        'param' : {
            'learning_rate' : [0.5, 0.8, 0.1, 0.20, 0.25, 0.30],
            'max_depth' : [3, 5, 7, 9, 11, 13, 15],
            'gamma' : [0.1,0.2, 0.3, 0.4, 0.5],
            'min_child_weight' : [1, 3, 5, 7, 9],
            'colsample_bytree' : [0.5, 0.8, 0.1, 0.20, 0.25, 0.30]
        }
    },
    'RandomForestRegressor' : {
        'model' : RandomForestRegressor(),
        'param' : {
            'n_estimators' : [300, 500, 700, 1000, 2100],
            'max_depth' : [3, 5, 7, 9, 11, 13, 15],
            'max_features' : ["auto", "sqrt", "log2"],
            'min_samples_split' : [2, 4, 6, 8]
        }
    },
    'GradientBoostingRegressor' : {
        'model' : GradientBoostingRegressor(),
        'param' : {
            'learning_rate' : [0.5, 0.8, 0.1, 0.20, 0.25, 0.30],
            'n_estimators' : [300, 500, 700, 1000, 2100],
            'criterion' : ['friedman_mse', 'mse']
        }
    }
}

NameError: name 'XGBRegressor' is not defined

In [38]:
score = []

for name, mp in algorithms.items() :
    rs = RandomizedSearchCV(estimator = mp['model'], param_distributions = mp['param'], cv = 10, n_jobs=-1, verbose=3)
    rs.fit(X_train, y_train)
    score.append({
        'model': name,
        'score' : rs.best_score_,
        'params' : rs.best_params_
    })

NameError: name 'algorithms' is not defined